<!DOCTYPE html>
<html>

    <head>
        <link rel="canonical" href="">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <meta name="fragment" content="!">
        <meta name="description" content="">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="true">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <style>
            body {
                margin: 0;
                padding: 0;
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            div,
            code,
            pre {
                margin: 10px;
            }

            img {
                width: 100%;
                height: auto;
                border: none;
            }

            table {
                margin: 10px;
                margin-bottom: 50px;
                border-collapse: collapse;
            }

            th {
                border: 1px solid #cecece;
            }

            td {
                border: 1px solid #cecece;
            }

            thead {}


            tr:nth-child(odd)>td {
                background: rgba(0, 0, 0, 0.02);
            }

            tr:hover>td {
                background: rgba(255, 0, 0, 0.08);
            }

            th,
            td {
                padding: 3px 6px;
            }

            #plots {
                clear: both;
                width: 100%;
                box-sizing: border-box;
            }

            #plots>div {
                width: 100%;
            }

            #stats {
                overflow: hidden;
            }
        </style>

        <title>Performance monitor</title>
    </head>

    <body>{{{body}}}</body>

</html>