<h1>
    Random server delay applied => {{time}} ms
</h1>
<br />
<div id="guid"></div>
<br />
<pre id="data" class="prettyprint lang-javascript linenums"></pre>
<script src="static/src.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/lang-css.min.js"></script>
<script type="text/javascript">
    window.addEventListener("load", function () {
        setTimeout(function () {
            prettyPrint();
        }, 0);
    });
</script>
<img src="/static/fistbump.jpg" />